/*
    Document   : adminbar-button
    Created on : Apr 19, 2013, 11:59:27 PM
    Author     : studio

*/


/*Hideadminbar*/
#hide-wpadminbar
{
	position: fixed;
        bottom: 0;
	z-index: 999999;
	background-color: #191818;
	color: #FFFFFF;
	padding: 10px;
	border: 1px solid #FFFFFF;
	bottom: 0;
	font-size: 11px;
	letter-spacing: 1px;
	border-bottom: 0px solid #000000;
	display: none;
}
.logged-in #hide-wpadminbar
{
	display: block;

}
#hide-wpadminbar:hover, #hide-wpadminbar:focus
{
	color: #FF0000;
}

.bar-to-bottom {
    top: auto !important;
    bottom: 0;
}

